<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensors</title>
    <script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>
</head>

<body>
    <h1 style="text-align: center;">Sensors Dashboard</h1>
    <div style="display: flex; justify-content: space-around;">
        <div
            style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px; width:80%">
            <div id="pmChart" style="width: 100%; height: 360px;"></div>
            <div id="coChart" style="width: 100%; height: 360px;"></div>
            <div id="tvocChart" style="width: 100%; height: 360px;"></div>
            <div id="co2Chart" style="width: 100%; height: 360px;"></div>
        </div>
    </div>
    <div>
        <form action="">
            <select name="device" id="deviceSelect">
                <option value="All" {% if selected == "All" %} selected {%endif%}>
                    All</option>
                {% for device in devices %}
                <option value="{{device}}" {% if selected == device %} selected
                    {%endif%}>{{device}}</option>
                {% endfor %}
            </select>
            <button type="submit">Filter</button>
        </form>
    </div>
</body>

</html>

<script>
    window.onload = function () {
        const data = JSON.parse(`{{ data_points | safe }}`)
        const tooltip = {
            shared: true,
        }
        const legend = {
            cursor: "pointer",
            itemclick: function (e) {
                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else {
                    e.dataSeries.visible = true;
                }
                e.chart.render();
            }
        };
        const map = (row, valueName) => {
            return { x: new Date(row['timestamp']).getTime(), y: Number.parseFloat(row[valueName]) }
        }
        const pm25Data = [];
        const pm10Data = [];
        const coData = [];

        const tvocData = [];
        const eco2Data = [];

        const co2Data = [];

        for (let i = 0; i < data.length; i++) {
            const row = data[i]
            pm25Data.push(map(row, 'pm25'))
            pm10Data.push(map(row, 'pm10'))
            coData.push(map(row, 'co'))
            tvocData.push(map(row, 'tvoc'))
            eco2Data.push(map(row, 'eco2'))
            co2Data.push(map(row, 'co2'))
        }
        const pmChartOptions = {
            title: { text: 'PM10 and PM25' },
            data: [{
                type: "splineArea",
                showInLegend: "true",
                name: "PM25",
                color: "#e57373",
                xValueType: "dateTime",
                xValueFormatString: "DD MM YY HH:mm",
                yValueFormatString: "##.##",
                legendMarkerType: "square",
                dataPoints: pm25Data,
            }, {
                type: "splineArea",
                showInLegend: "true",
                name: "PM10",
                color: "#f44336",
                xValueType: "dateTime",
                xValueFormatString: "DD MM YY HH:mm",
                yValueFormatString: "##.##",
                legendMarkerType: "square",
                dataPoints: pm10Data
            }]
        }

        const coChartOptions = {
            title: { text: 'CO' },
            data: [{
                type: "splineArea",
                showInLegend: "true",
                name: "CO",
                color: "#ffb74d",
                xValueType: "dateTime",
                xValueFormatString: "DD MM YY HH:mm",
                yValueFormatString: "##.##",
                legendMarkerType: "square",
                dataPoints: coData,
            }]
        }

        const tvocChartOptions = {
            title: { text: 'TVOC and ECO2' },
            data: [{
                type: "splineArea",
                showInLegend: "true",
                name: "TVOC",
                color: "#64b5f6",
                xValueType: "dateTime",
                xValueFormatString: "DD MM YY HH:mm",
                yValueFormatString: "##.##",
                legendMarkerType: "square",
                dataPoints: tvocData,
            }, {
                type: "splineArea",
                showInLegend: "true",
                name: "ECO2",
                color: "#2196f3",
                xValueType: "dateTime",
                xValueFormatString: "DD MM YY HH:mm",
                yValueFormatString: "##.##",
                legendMarkerType: "square",
                dataPoints: eco2Data,
            }]
        }
        const co2ChartOptions = {
            title: { text: 'CO2' },
            data: [{
                type: "splineArea",
                showInLegend: "true",
                name: "CO2",
                color: "#81c784",
                xValueType: "dateTime",
                xValueFormatString: "DD MM YY HH:mm",
                yValueFormatString: "##.##",
                legendMarkerType: "square",
                dataPoints: co2Data,
            }]
        }


        const pmChart = new CanvasJS.Chart('pmChart', pmChartOptions)
        const coChart = new CanvasJS.Chart('coChart', coChartOptions)
        const tvocChart = new CanvasJS.Chart('tvocChart', tvocChartOptions)
        const co2Chart = new CanvasJS.Chart('co2Chart', co2ChartOptions)
        pmChart.render()
        coChart.render()
        tvocChart.render()
        co2Chart.render()
    }

</script>
